[submodule "src/mkmf"]
	path = src/mkmf
	url = https://github.com/NOAA-GFDL/mkmf.git
	branch = master
[submodule "src/FMS"]
	path = src/FMS
	url = https://github.com/NOAA-GFDL/FMS.git
        branch = 2022.04
